/*------------------------------------*\

    # 07 Timers

*------------------------------------*/


/*------------------------------------*\
    #Base
*------------------------------------*/

/*------------------------------------*\
    #Tools
*------------------------------------*/

// #Mixins

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// # Animation

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*------------------------------------*\
    # Pages
*------------------------------------*/

    // # Home
    .timer-wrapper {
        width: 80%;
        margin: 0 auto;
    }

    .index-topic {
        list-style-type: none;
        margin-bottom: 40px;

        li {
            //default hide
            opacity: 0;
            transition: opacity .3s;

            &.visible {
                opacity: 1;
            }
        }
    }

