/*------------------------------------*\

    # 07 Timers

*------------------------------------*/


/*------------------------------------*\
    #Base
*------------------------------------*/

/*------------------------------------*\
    #Tools
*------------------------------------*/

// #Mixins

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// # Animation

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

