---
title: 01. Querying the DOM 1
url: 01-dom.html
---

<main class="msg__container">
    <h1 class="msg__text">Hey you, please don't do it</h1>
        <button class="btn__msg btn--success modal--trigger" href='#modal'> O M G </button>
</main>


<div id="modal" class='modal--msg'>
    <section class="modal__container inner--center-center">
        <div class="modal__msg__inner">
            <h1 class="msg__text">I told you not to do it:(</h1>
            <button id='modal--close' class="btn__msg btn--alert"> C L O S E </button>
        </div>
    </section>
</div>

{{> body-script }}
<script src="/scripts/01-dom.js"></script>


