---
title: 03. Creating content
url: 03-creating-content.html
---

<div class="todo">
    <ul class="todo__card-list">
        <li class="todo__card-list__tittle">Javascript</li>
        <li class="todo__card-item">
            <div class="todo__card-content">
                <h2 class="todo__card-tittle">Lorem ipsum dolor sit amet.</h2>
                <p class="todo__card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div> <!-- .todo__card-content -->
        </li> <!-- .todo__card-item -->
        <li class="todo__card-item--create">
            <div class="todo__card-content">
                <input type="text" placeholder="add card tittle" class="placeholder__tittle-input" >
                <textarea placeholder="add card description" class="placeholder__description-area"></textarea>
            </div>
            <div class="todo__card-actions">
                <button class="btn__action todo__card-item--add">Add New Card</button>
                <!-- <button class="btn__action todo__card-item--save">Save Card</button> -->
            </div>
        </li> <!-- .todo__card-item -->
    </ul>

    <ul class="todo__card-list--create">
        <li class="todo__placeholder-list">
            <span id="todo__placeholder-list--create" class="placeholder__list-tittle">Add a list..</span>
        <!--     <input type="text" placeholder="add list tittle" class="placeholder__tittle-input"> -->
        </li>
        <!-- <button class="btn__action todo__card-list--save">Save list</button> -->
    </ul>
</div>


{{> body-script }}
<script src="/scripts/03-creating-content.js"></script>

