---
title: 03. Creating content
url: 03-creating-content.html
---

<div class="todo">
    <ul class="todo__card-list">
        <li class="todo__card-list__tittle">Example 1</li>
        <li class="todo__card-item">
            <div class="todo__card-content">
                <h2 class="todo__card-tittle">ES6</h2>
                <p class="todo__card-description">Learn New Scoping</p>
            </div>
        </li>

        <li class="todo__card-item--create">
            <div class="todo__card-content">
                <input type="text" placeholder="add card tittle" class="placeholder__tittle-input" >
                <textarea placeholder="add card description" class="placeholder__description-area"></textarea>
            </div>
            <div class="todo__card-actions">
                <button class="btn__action todo__card-item--add">Add New Card</button>
                <button class="btn__action todo__card-item--save">Save Card</button>
            </div>
        </li>
    </ul>

    <ul class="todo__card-list--create">
        <li class="todo__placeholder-list">
            <span class="placeholder__link todo__list--add">Add a list..</span>
            <input type="text" placeholder="add tittle" class="placeholder__tittle-input">
        </li>
        <button class="btn__action todo__card-list--save">Save list</button>
    </ul>
</div>


{{> body-script }}
<script src="/scripts/03-creating-content.js"></script>

