---
title: 04. Jquery
url: 04-jquery.html
---

<section class="first-block">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet labore rerum molestiae minus hic ad fugit doloremque ab, reiciendis deleniti.
    <span>Quoc bui</span>
    </p>
</section>

<section class="second-block">
    <h1>My Roadmap List (2016)</h1>
    <ul class="my-roadmap-list">
        <li>1. Javascript</li>
        <li>2. CSS animation</li>
        <li>3. 30 days challenges</li>
        <li>4. thoughbot - Understand web fundamental </li>
        <li>5. Develop me own library snippets</li>
        <li>6. Skollrmagic</li>
        <li>7. Greensock</li>
        <li>8. ES6</li>
        <li>9. Kickass awwwards portofolio</li>
    </ul>
</section>


{{> body-script }}
<script>
    if( !window.jQuery ) document.write('<script src="/scripts/04-jquery.js"><\/script>');
</script>

