---
title: 04. Jquery
url: 04-jquery.html
---

<section class="block">
    <p>'A clever hawk hide it claws'
    <span>- Quoc bui</span>
    </p>
</section>

<section class="block">
    <h1>My Roadmap List (2016)</h1>
    <ul class="my-roadmap-list">
        <li>1. Javascript</li>
        <li>2. CSS animation</li>
        <li>3. 30 days challenges</li>
        <li>4. thoughbot - Understand web fundamental </li>
        <li>5. Develop me own library snippets</li>
        <li>6. Skollrmagic</li>
        <li>7. Greensock</li>
        <li>8. ES6</li>
        <li>9. Kickass awwwards portofolio</li>
    </ul>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script> // include jquery file fallback if jquery google link doesnt find
    if( !window.jQuery ) document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>');
</script>
{{> body-script }}

<script src="/scripts/04-jquery.js"></script>


