---
title: 08. Ajax tab
url: 08-ajax-tab.html
---

<div class="tab">
    <nav class="tab__navigation">
        <div class="tab__item-link"><a class="selected" href="#tab-content-zero">Overview</a></div>
        <div class="tab__item-link"><a href="#tab-content-one">Likes</a></div>
        <div class="tab__item-link"><a href="#tab-content-two">Playlists</a></div>
        <div class="tab__item-link"><a href="#tab-content-three">Albums</a></div>
        <div class="tab__item-link"><a href="#tab-content-four">Following</a></div>
    </nav>
    <div class="tab__content">
            <p>Inbox Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate totam eveniet laboriosam?</p>

            <p>Inbox Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae rem animi accusamus quisquam reprehenderit sed voluptates, numquam, quibusdam velit dolores repellendus tempora corrupti accusantium obcaecati voluptate totam eveniet laboriosam?</p>
    </div> <!-- .tab__content -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script> // include jquery file fallback if jquery google link doesnt find
    if( !window.jQuery ) document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>');
</script>
{{> body-script }}

<script src="/scripts/08-ajax-tab.js"></script>


