---
title: 08. Ajax tab
url: 08-ajax-tab.html
---

<div class="tab">
    <nav class="tab__navigation">
        <div class="tab__item-link"><a class="selected" href="#tab-content-0">Overview</a></div>
        <div class="tab__item-link"><a href="#tab-content-1">Likes</a></div>
        <div class="tab__item-link"><a href="#tab-content-2">Playlists</a></div>
        <div class="tab__item-link"><a href="#tab-content-3">Albums</a></div>
        <div class="tab__item-link"><a href="#tab-content-4">Following</a></div>
    </nav>

    <div class="tab__content">
        <section id="tab-content-0" class="selected">
            <div class="gallery-list">
                <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img  alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1467521335787-2f0fc0f0e9a0)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">bridgemind</p>
                    </footer>
                </article>
                <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1429593886847-3cc52983f919)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">Earthie334</p>
                    </footer>
                </article>
                <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1463780324318-d1a8ddc05a11)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">shiftnight</p>
                    </footer>
                </article>
                <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img  alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1470071459604-3b5ec3a7fe05)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">Wonderland1990</p>
                    </footer>
                </article>
                <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img  alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1470254856376-3639c9dba267)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">Sockers</p>
                    </footer>
                </article>
            </div> <!-- .gallery-list -->
        </section> <!-- .tab-content-0 -->

        <section id="tab-content-1">
            <div class="gallery-list">
                  <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img  alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1467521335787-2f0fc0f0e9a0)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">bridgemind</p>
                    </footer>
                </article>
                <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1429593886847-3cc52983f919)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">Earthie334</p>
                    </footer>
                </article>
                <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1463780324318-d1a8ddc05a11)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">shiftnight</p>
                    </footer>
                </article>
                <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img  alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1470071459604-3b5ec3a7fe05)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">Wonderland1990</p>
                    </footer>
                </article>
            </div> <!-- .gallery-list -->
        </section> <!-- .tab-content-1 -->

        <section id="tab-content-2">
            <div class="gallery-list">
                  <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img  alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1467521335787-2f0fc0f0e9a0)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">bridgemind</p>
                    </footer>
                </article>
                <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1429593886847-3cc52983f919)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">Earthie334</p>
                    </footer>
                </article>
                <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1463780324318-d1a8ddc05a11)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">shiftnight</p>
                    </footer>
                </article>
            </div> <!-- .gallery-list -->
        </section> <!-- .tab-content-2 -->

        <section id="tab-content-3">
            <div class="gallery-list">
                  <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img  alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1467521335787-2f0fc0f0e9a0)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">bridgemind</p>
                    </footer>
                </article>
                <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1429593886847-3cc52983f919)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">Earthie334</p>
                    </footer>
                </article>
            </div> <!-- .gallery-list -->
        </section> <!-- .tab-content-3 -->

        <section id="tab-content-4">
            <div class="gallery-list">
                  <article class="gallery-list__item">
                    <header class="gallery-list--header">
                        <img  alt="" class="user__badge-image" style="background-image: url(https://hd.unsplash.com/photo-1467521335787-2f0fc0f0e9a0)"></>
                    </header>
                    <footer class="gallery-list--footer">
                        <p class="gallery-list__item-titel">bridgemind</p>
                    </footer>
                </article>
            </div> <!-- .gallery-list -->
        </section> <!-- .tab-content-4 -->

    </div> <!-- .tab__content -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script> // include jquery file fallback if jquery google link doesnt find
    if( !window.jQuery ) document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>');
</script>
{{> body-script }}

<script src="/scripts/08-ajax-tab.js"></script>


