---
title: 11. Scrolling Effect
url: 11-scrolling-effect.html
---

<section class="animated-section">
    <div class="section-content image__background" style="background-image: url('https://hd.unsplash.com/photo-1465322625814-2c183694898c');">
        <div class="hero__tittle">
            <h1>My website</h1>
        </div>
    </div>
</section>

<section class="animated-section">
    <div class="section-content image__background" style="background-image: url('https://hd.unsplash.com/reserve/B6PfiQ8QoSzmsZYOCkSB__DSC0530-1.jpg');">
        <div class="hero__tittle">
            <h2>Section 2</h2>
        </div>
    </div>
</section>

<section class="animated-section">
    <div class="section-content image__background" style="background-image: url('https://hd.unsplash.com/photo-1431794062232-2a99a5431c6c');">
        <div class="hero__tittle">
            <h2>Section 3</h2>
        </div>
    </div>
</section>

<section class="animated-section">
    <div class="section-content image__background" style="background-image: url('https://hd.unsplash.com/photo-1440658172029-9d9e5cdc127c');">
        <div class="hero__tittle">
            <h2>Section 4</h2>
        </div>
    </div>
</section>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script> // include jquery file fallback if jquery google link doesnt find
    if( !window.jQuery ) document.write('<script src="/bower_components/jquery/dist/jquery.min.js"><\/script>');
</script>
{{> body-script }}

<script src="/scripts/11-scrolling-effect.js"></script>


